@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#download-section{
    background-image:url(./asset/ph-bg9.jpeg)
}
.body{
    padding:300px 0;
   
}
.container-fluid{
    border: 2px solid white;
    background-color: #ffffff;
}

.head{
    font-size:54px;
}
.det-3{
    font-size:16px;
    color: #797d85;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.det-4{
    font-size:16px;
    color: #797d85;
}
.bi-apple{
    margin-top: -7px;
    margin-right: 10px;
}
.google{
    margin-top: -4px;
    margin-right: 5px;
}
.btn{
    width:180px !important;
    height: 55px;
}