@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    ---grey:#797d85;
    ---black:#111724 ;
}
body{
    font-family:  'Barlow', sans-serif;
}
.first {
    width: 100%;
  background-image: url("https://kingstudio.ro/demos/mione/assets/images/ph-bg7.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 0px;
  color: var(---grey);
  padding: 150px 0;
}
.container-first{
    width:95%;
    margin: 0 auto;
}
.container-first h2{
    color:var(---black);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2.5px;
}
.container-first p{
    font-size: 20px;
    margin-bottom: 50px;
}
.container-first .input-group-first{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    margin-left: 0px !important;
}
.input-group-first button{
    width: 100%;
    padding: 12px 32px;
    margin: 5px 0px 0px 0px;
}
.input-first{
    border-radius: 5px !important;
    padding: 12px 12px;
    width: 100% !important;
}
.buttons-first{
    width: 100%;
}
.buttons-first span{
    display: none;
    margin: 0px 10px;
}

@media only screen and (min-width: 576px){
    .buttons-first{
        display: flex;
        align-items: center;
        width: max-content !important;
        
    }
    .buttons-first span{
        display: block;
    }
    .input-group-first button{
        width: max-content !important;
    }
  
}

@media only screen and (min-width: 768px){

    .first{
        padding: 170px 0;
    }
    .buttons-first,.input-first{
        padding: 12px 12px;
    }
    .input-group-first button{
        width: 100%;
        padding: 12px 32px;
        margin: 0px 0px 0px 0px;
    }
}
@media only screen and (min-width: 992px){
    .first{
        padding: 220px 0;
    }
    .input-group-first{
        max-width:75% ;
    }
    .container-first p{
        width: 30%
    }
    .input-first{
        width: 40% !important;
    }
}
