.position-fixed {
    font-size: 25px;
    right: 50px;
    bottom: 50px;
    position: fixed;
}

.to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; 
  width: 60px
}