@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing:border-box;
    font-family: 'Barlow', sans-serif;
}

#menu{
    background-color: #fafbfc;
    padding:80px 0;
}

.menu-item{
    border-radius:5px;
    box-shadow: 0px 2px 15px -3px rgba(54, 54, 54, 0.094);
    padding-top:15px !important;
    padding-bottom: 15px !important;
}

.menu-item img {
    max-width: 70px;
    border-radius: 50%;
}

.descr{
    padding-top:15px;
    margin-left:15px;
}

.title{
    color:#111724;
    font-size:20px;
    line-height:15px;
    font-weight:500;
}

.menu-item p{
    color:#212529;
    font-size:12px;
    font-weight: 300;
}