@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, 
::after, 
::before {
  box-sizing: border-box;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --animation-delay: 0.5s;
}

body {
  font-family: 'Barlow', sans-serif;
}

/* RESTAURANTS */
section.lg {
  padding: 120px 0;
}

.section-title {
  font-size: 56px;
  margin: 0 0 30px;
}

.card-body {
  border: none;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.05);
  padding: 28px;
}

.text-secondary-dark {
  color: #848d96;
  font-weight: 500;
}

.ratings i {
  color: #fdcc08;
}

.card {  
  transition: transform .3s
}

.card:hover {
  color: #0978F5;
  transform: translateY(-2%)
}


h2.aos-animate {
  position: relative;
  animation: restaurant-move 1s;
}

@keyframes restaurant-move {
  from {left: -120px;}
  to {left: 0px;}
}